@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-manrope {
    font-family: Manrope, ui-sans-serif, system-ui, sans-serif;
  }
  .bg-background {
    background-image: url(/assets/background.png);
  }
  .bg-frame {
    background-image: url(/assets/frame.png);
  }
}
